*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  color-scheme: dark light;
}

html,
body {
  margin: 0;
  height: 100%;
  font-family: system-ui, sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
